
/*body definicion de color de fondo, margin, tipo de letra y color de letra*/
body{
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    margin: 0.1em;
    color: white;
}
/*titulo principal color*/
.titulo__principal{
    font-family: 'Raleway', sans-serif;
    font-size: 3.5em;
    color: white;
    animation-name: cambioColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-align: center;
}
/* titulo principal cmabio de colores*/
@keyframes cambioColor {
    0%   {color:green;}
    25%  {color:rgb(241, 241, 13);}
    50%  {color:rgb(81, 81, 255);}
    75%  {color:lightgray;}
    100% {color:red; }
  }
  /*botones de navegador*/
.contenedor__nav{
    display: flex;
    justify-content: flex-end;
}
.contenedor__nav a{
    text-decoration: none;
    background-color:lightslategray;
    padding: 0.5em 1em 0.5em 1em;
    color: black;
    margin: 0.5em;
}
.nav__home,
.nav__about,
.nav__contact,
.nav__games,
.nav__rules{
    font-weight:800;
}
a:hover{
    box-shadow: 0px 0px 5px 5px #8d8c8b;
}
/*banner principal*/
.banner_img{
    width: 100%;
    height: auto;
     
   }
/*titulos secundarios con recuadro blanco*/
.titulo__secundario{
    color: white;
    text-align: center;
    border: solid white;
    padding: 1.5em;
}
/*sepración de main*/
.contenedor__main,
.container__main__rules{
    padding: 1.5em;
}
/*imagen izquierda logo*/
.contenedor__izquierda{
    width: 20%;;
}
.izquierda__img1{
    width: 50%;
    height: auto;
}
/*imagen izquierda logo agrandados */
.contenedor__izquierda__img1:hover .izquierda__img1 {
    -webkit-transform:scale(1.3);transform:scale(1.3);
}

/*imagen de fondo fija para contenedor*/
.contenedor__main_index{
    display: flex;
    align-items: flex-start;
    background-image: url("../../assets/img/hockey1.jpg");
    background-size: cover;
    background-attachment: fixed;
   
   
}
.contenedor__main__games{
    display: flex;
    align-items: flex-start;
    background-image: url("../../assets/img/hockey2.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 1em;
}
.container__main__rules{
    display: flex;
    align-items: flex-start;
 
    background-image: url("../../assets/img/hockey3.jpg");
    background-size: cover;
    background-attachment: fixed;
 
}

/*contenedor de la derecha*/
.contenedor__derecha{
    width: 80%;
    color: black;
    font-weight:900;

    
}
/*contenedor derecha titulos y parrafos*/
.contenedor__derecha h3,h4{
    text-align: center;
    font-size:1.5em;

}
.titulo_secundario_parrafo{
    text-align: center;
}
.contenedor__derecha__parrafo{
    font-size:1.5em;
    text-align: center;
    padding:3em ;
    color:red;
}
/*articulos contenedor izuierda*/
.articulo__titulo{
    font-size:2em;

}
.articulo_parrafo{
    font-size:1.5em;
    color: brown;
    text-align: center;
}


/*tablas de games*/
table{
    width: 80%;
    margin-left: 10%;
}
table, th, td {
    border: 1px solid black;
    
}
th, td{
    text-align: center;
    font-weight:800;
    padding: 0.5em;
}
th{
    background-color: lightgray;
}
/*lista de rules*/
li{
    padding-bottom: 1em;
}
.informacion_parrafo{
    text-decoration: none;
}

/*titulos de rules*/
.titulo__terciario,
.titulo__secundario_dos,
.reglas__parrafo,
.reglas__lista{
    font-size:1.2em;
    color: rgb(0, 0, 100);
}

/*footer*/
.cotenedor__footer{
    padding:1em;
    text-align: center;
    border: solid white;
}
/*formulario*/

form{
    color: white;
    background-color: rgb(56, 56, 56);
    display: block;
}
input, label{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;  
}       
fieldset{
    padding: 2em;
}
.form__text{
    width: 100%;
}
@media screen and (max-width: 600px) {
    .titulo__principal{
        font-size:15px;
    }
    .contenedor__nav a{
        padding: 0.1em;
        color: black;
        margin: 0.5em;
        font-size: 0.5em;
    }
    .titulo__secundario{
        font-size: 1em;
        padding: 0;
    }
    .contenedor__izquierda{
        display: none;
    }
    .contenedor__derecha__parrafo,
    .contenedor__derecha h3,
    .contenedor__derecha p,
    .contenedor__derecha__rules{
        font-size: 1em;
    }
    .contenedor__derecha{
        width: 100%;
    }
    .contenedor__main_index,
    .contenedor__main__games,
    .container__main__rules{
        background-image: none;
        padding: 0;
    }
    .titulo__secundario_dos,
    .titulo__terciario,
    .reglas__parrafo,
    .reglas__lista{
        color:white;
        font-size:1em;
    }
    form{
        font-size:0.5em;
    }
    table{
        width: 100%;
        margin-left: 0%;
    }
    table, th, td {
        border: 1px solid white;
        
    }
    th, td{
        text-align: center;
        font-weight:200;
        padding: 0em;
        color:white;
    }
    th{
        background-color: black;
    }
    .maps{
        display: none;
    }
    .informacion_parrafo{
        color: white;
    }

}